*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    scroll-behavior: smooth;
    font-family: 'Work Sans';
}

/* navigation styles */
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 40px;
    width: 5px;
    border-radius: 50%;
	height: 5px;
    content: '';
	background-color: #48c074;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #777;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #777;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}


/* main styles */

.home-section{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1529313780224-1a12b68bed16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.text-color{
    color: #033953;
}

.icon-color{
    color: #48c074;
    font-size: 20px;
}

.main-color{
    background-color: #48c074;
    color: #fff;
}
.btn-green{
    background: #48c074;
    border-radius: 38.5px;
    color: #fff;
    padding: 10px 25px;
    transition: all 0.5s ;
  }
  .btn-green:hover{
    background: #fff;
    box-shadow: 0px -2px 10px rgba(255, 255, 255, 0.14), 0px 4.5px 10px rgba(255, 255, 255, 0.14);
    color: #48c074;
    border: 1px solid #48c074;
  }
  .input-style{
    padding: 20px 20px;
  }
  .input-style:focus{
    border-color: rgba(50, 54, 67, 0.2);
    box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
    outline: 0 none;
}
.card{
    border: 0
}
.product {
    border:0;
    transition: all ease-in-out 0.6s;
}
.card-home{
	height: 250px;
}
.card-product{
	 background-color:#fff;
	 border-radius:5px;
	 box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.product:hover{
    transform: scale(1.07);
    transition: all ease-in-out 0.6s;
}
.team-card{
    background-color: #fff;
    border-radius: 5px;
}

/* back to top button */
#back-to-top{
    position: fixed;
    bottom: 20px;
    width: 50px;
    right: 20px;
    font-size: 30px;
    height: 50px;
    color: #fff;
    border: 2px solid #48c074;
    outline: none;
    border-radius: 50%;
    background-color: #48c074;
    cursor: pointer;
    z-index: 1;
    display: none;
}

/* funds styles */
.fund{
    border:0;
    transition: all ease-in-out 0.6s;  
}
.btn-fund{
    background: #48c074;
    border-radius: 38.5px;
    color: #fff;
    padding: 10px 20px;
    transition: all 0.5s ;
  }
  .btn-fund.active{
    background: #fff;
    box-shadow: 0px -2px 10px rgba(255, 255, 255, 0.14), 0px 4.5px 10px rgba(255, 255, 255, 0.14);
    color: #48c074;
    border: 1px solid #48c074;
    transition: all 0.5s ;
  }
  .btn-fund:hover{
    background: #fff;
    box-shadow: 0px -2px 10px rgba(255, 255, 255, 0.14), 0px 4.5px 10px rgba(255, 255, 255, 0.14);
    color: #48c074;
    border: 1px solid #48c074;
  }
  .btn-fund.active:hover{
    background: #48c074;
    box-shadow: 0px -2px 10px rgba(255, 255, 255, 0.14), 0px 4.5px 10px rgba(255, 255, 255, 0.14);
    color: #fff;
  }
  